:root {
  --font-family-headline: "Varela", sans-serif;
  --font-family-title: "Varela", sans-serif;
  --font-family-subtitle: "Varela", sans-serif;
  --font-family-text: "Hind Madurai", sans-serif;
  --font-family-headline-text: "Rhodium Libre", serif;

  --font-size-headline: 1.6rem;
  --font-size-title: 1rem;
  --font-size-subtitle: 0.9rem;
  --font-size-text: 1rem;

  --color-titles: rgba(38, 41, 42, 0.819);
  --color-subtitles: rgba(89, 94, 95, 0.96);
  --color-text: rgb(75, 79, 81);
  --color-accent: rgba(2, 2, 2, 0.819);
  --color-footer: rgba(45, 67, 78, 0.709);
  --color-footer-accent: rgba(38, 41, 42, 0.819);
  --color-general-btn: rgba(187, 184, 184, 0.625);
  --color-bg-btn: rgba(241, 241, 246, 0.472);
  --color-border-modal: rgba(157, 155, 155, 0.396);
  --color-shadow-modal: #d5cece;
}

/* NORMALIZE */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* style to take away background fron the button on android */
button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  touch-action: manipulation;
  user-select: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

/* GENERAL STYLES */

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(../images/freepik-export-20241002125122k80J.jpeg);
}

.section,
.header,
.footer {
  padding: 26px 0;
}

.container {
  max-width: 340px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.headline {
  font-family: var(--font-family-headline);
  font-size: var(--font-size-headline);
  text-align: center;
  color: var(--color-titles);
}

.title {
  margin-bottom: 1.8em;
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-titles);
}

.title {
  position: relative;
}

.title::after {
  content: "";
  display: block;
  max-width: 300px;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 25px;
  background-color: var(--color-accent);
}

.subtitle,
.h4subtitle {
  margin-bottom: 0.8em;
  font-family: var(--font-family-subtitle);
  font-size: var(--font-size-subtitle);
  color: var(--color-subtitles);
}

.item {
  color: var(--color-text);
}

span {
  font-family: var(--font-family-text);
}

a {
  color: var(--color-accent);
}

.item:not(:last-of-type) {
  margin-bottom: 0.5em;
  color: var(--color-text);
}

.text {
  font-family: var(--font-family-text);
  line-height: 1.5;
  text-align: justify;
  color: var(--color-text);
}

/* CROSSSECTIONS */

/* projects, work, education*/
.item-projects:not(:last-of-type),
.item-work-profession:not(:last-of-type),
.item-education:not(:last-of-type) {
  margin-bottom: 1.7em;
}

.list-hardskills,
.list-projects-details,
.list-work-profession-experience,
.list-languages {
  padding-left: 20px;
  list-style: outside;
  list-style-position: outside;
}



.item-span-name {
  display: inline-block;
  margin-right: 6px;
}

/* SECTIONS */

.wrapper {
  width: 100%;
  margin-inline: auto;
  background: url(../images/freepik-export-20241002125122k80J.jpeg);
}

/* Header */
.section-header {
  padding-top: 45px;
}
.container-header {
  position: relative;
}

.headline {
  margin-bottom: 0.6em;
  text-align: center;
  font-weight: 700;
  font-style: normal;
}

.text-headline {
  margin-bottom: 2.6em;
  font-family: var(--font-family-headline-text);
  text-align: center;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
}

.address-header {
  position: relative;
  display: flex;
  flex-direction: column;
}

.address-header-info {
  text-align: center;
  margin-bottom: 0.4em;
  color: var(--color-titles);
}

.header-address-list-social {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.address-header::before {
  content: "";
  display: block;
  max-width: 300px;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -26px;
  left: 0;
  background-color: var(--color-titles);
}

.address-header::after {
  content: "";
  display: block;
  max-width: 300px;
  width: 100%;
  height: 1px;
  position: absolute;
  top: -30px;
  left: 0;
  background-color: var(--color-titles);
}

/* SUMMARY */

.container-summary-person {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-summary-img {
  margin-inline: auto;
  max-width: 200px;
  width: 100%;
}

/* HARD SKILLS */
.item-hardskills {
  font-family: var(--font-family-text);
  font-size: 16px;
}

/* PROJECTS */

.link-projects {
  display: block;
  font-family: var(--font-family-text);

}

.link-projects,
.text-projects {
  margin-bottom: 0.5em;
}

.item-projects-details:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.subtitle-projects:focus {
  text-decoration:underline;
}

/* WORK */
.subtitle-work {
  margin-bottom: 1.2em;
  text-transform: uppercase;
  font-size: 14px;
}

.span-item-work-profession-period {
  display: block;
  margin-bottom: 0.5em;
}

.text-work {
  margin-top: 1.2em;
}

.item-work-profession-experience {
  font-family: var(--font-family-text);
}

/* EDUCATION */
.text-education-period {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
}

/* FOOTER */

.footer-section {
  padding-top: 46px;
}

.container-footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-wraper {
  position: relative;
  width: 100%;
}

.footer-wraper::before {
  content: "";
  display: block;
  max-width: 300px;
  min-width: 100px;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: -20px;

  background-color: var(--color-footer);
}

.address-footer-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.address-footer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-style: normal;
}

.adress-footer-contacts {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--color-footer);
}

.footer-text {
  color: var(--color-footer);
}

.address-text-wraper {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer a {
  font-style: inherit;
  color: var(--color-footer);
  font-family: var(--font-family-text);
}

.footer-address-list-socials {
  display: flex;
  gap: 6px;
}

/* BTN SCROLL TO TOP */

.btn-scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding: 0;
  min-width: 34px;
  aspect-ratio: 1/1;
  /* height: 34px; */ 
  border-radius: 50%;
  color: var(--color-general-btn);
  background-color: var(--color-bg-btn);
  border: 1px solid var(--color-general-btn);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, scale 0.3s ease;
}

.icon {
  fill: var(--color-general-btn);
  
}

.btm-icon-arrow {
    width: 20px;
    height: 20px;
    /* display: inline-block; */

}

.btn-scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}



/* MODAL WINDOW */

.container-modal {
  max-width: 328px;
  width: 100%;
  padding-inline: 4px;
  margin-inline: auto;
}

.btn-header-menu {
  position: fixed;
  top: 10px;
  right: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
 aspect-ratio: 1/1;
 padding: 0;
  border-radius: 5px;
  background-color: var(--color-bg-btn);
  border: 1px solid var(--color-general-btn);
  transition: scale 0.3s ease, border-color 0.3s ease;
}

.btn-icon-menu {
  width: 24px;
  height: 24px;

}

.btn-header-menu:focus,
.btn-header-menu:active {
  outline:none;
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 24px;
  border: 1px;
  width: 100%;
  min-height: 100vh;
  background: url(../images/freepik-export-20241002125122k80J.jpeg);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.backdrop-modal {
  margin: 0 auto;
  padding: 32px 8px;
  padding-top: 16px;
  max-width: 320px;
  min-height: 600px;
  height: 100%;
  border: 1px solid var(--color-border-modal);
  border-radius: 10px;
  box-shadow: -0.5px -2.5px 10px 2px var(--color-shadow-modal);
}

.modal-headline {
  font-size: 28px;
}

.modal-text-headline {
  font-size: 18px;
  margin-bottom: 2em;
}

.backdrop-item {
  font-size: 20px;
  font-family: var(--font-family-text);
  font-weight: normal;
  text-align: center;
}

.backdrop-item-link {
  transition: uppercase 0.3s ease;
}

.btn-modal-close {
  display: flex;
  margin-left: auto;
  margin-bottom: 10px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: var(--color-general-btn);
  transition: fill 0.3s ease, scale 0.3s ease;
}

.backdrop-item:not(:last-child) {
  margin-bottom: 1em;
}

.backdrop-list-sections {
  margin-bottom: 3em;
}

.adress-modal-contacts {
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.6em;
}

.address-modal-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 16px;
}

.modal-address-list-socials {
  display: flex;
  gap: 6px;
  justify-content: center;
}

.is-scroll {
  overflow-y: hidden;
}


/* FOCUS */

  /* FOOTER */

  .footer-address-list-socials:focus {
    fill: var(--color-footer-accent);
  } 


  .address-footer-info:focus {
    color: var(--color-footer-accent);
  } 


  .address-footer-info:focus .icon {
    fill: var(--color-footer-accent);
  } 

  .footer-address-list-socials .icon:focus {
    fill: var(--color-footer-accent);
  } 

  /* MODAL */

  .address-modal-info:focus {
    color: var(--color-footer-accent);
  } 

  .address-modal-info:focus svg {
    fill: var(--color-footer-accent);
  } 

  .backdrop-item-link:focus {
    text-transform: uppercase;
  } 

  .btn-header-menu:focus {
    transform: scale(0.95);
  } 


  .btn-header-menu:focus .icon {
    fill: var(--color-footer-accent);
  } 


  .btn-modal-close:focus {
    fill: var(--color-footer-accent);
    transform: scale(0.95);
  } 

  .modal-address-list-socials .icon:focus {
    fill: var(--color-footer-accent);
  } 

  /* SCROLL TO TOP BTN */


  .btn-scroll-to-top:focus {
    transform: scale(0.95);
  } 


  .btn-scroll-to-top:focus .icon {
    fill: var(--color-accent);
  } 


/* MEDIA */

 @media (min-width: 576px) { 
  html {
    font-size: 18px;
  }

  .section,
  .header,
  .footer {
    padding: 26px 0;
  }

  .container {
    position: relative;
    max-width: 576px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
  }

  /* HEADER */

  .address-header::before,
  .address-header::after {
    max-width: 536px;
  }

  .title::after {
    max-width: 536px;
  }

  .address-header {
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }

  .address-header-info-city {
    flex-basis: 536px;
  }

  .container-summary-person {
    display: block;
    /* flex-direction: row;
    gap: 32px; */
  }

  .container-summary-img {
   float: right;
   margin-left:24px;
    min-width: 200px; 
    margin-bottom: 0px;
    order: 1;
  }

  .footer-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-wraper::before {
    max-width: 536px;
  }

  .address-footer {
    flex-direction: column;
    /* align-items: ; */
    /* gap: 64px; */
  
  }

  .adress-footer-contacts {
    display: flex;
    flex-direction: column;
  }
}


/* @media (width >= 760px) { */
@media (min-width: 761px)  { 
  html {
    font-size: 18px;
  }

  .section,
  .header,
  .footer {
    padding: 26px 0;
  }

  .container {
    position: relative;
    max-width: 760px;
    width: 100%;
    padding-inline: 20px;
    margin-inline: auto;
  }

  /* HEADER */

  .address-header::before,
  .address-header::after {
    max-width: 730px;
  }

  .title::after {
    max-width: 730px;
  }

  .address-header {
    flex-direction: row;
    justify-content: space-evenly;

    flex-wrap: wrap;
  }

  .address-header-info-city {
    flex-basis: 730px;
  }

  .container-summary-person {
    display: block;
    /* flex-direction: row;
    gap: 32px; */
  }

  .container-summary-img {
   float: right;
   margin-left:24px;

/* 
    min-width: 200px; */
    min-width: 240px; 

    margin-bottom: 0px;
    order: 1;
  }

  .footer-wraper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-wraper::before {
    max-width: 730px;
  }

  .address-footer {
    flex-direction: row;
    gap: 64px;
  }

  .adress-footer-contacts {
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 1000px) {
  .wrapper {
    max-width: 1000px;
    border: 1px solid var(--color-border-modal);
    border-radius: 10px;
    box-shadow: -0.5px -2.5px 10px 2px var(--color-shadow-modal);
  }

  .section-header {
    padding-top: 55px;
  }

  /* .header a:hover {
    color: var(--color-accent);
  } */

  /* FOOTER */
  /* .footer-address-list-socials:hover,
  .footer-address-list-socials:focus {
    fill: var(--color-footer-accent);
  } */

  /* .address-footer-info:hover,
  .address-footer-info:focus {
    color: var(--color-footer-accent);
  } */

  /* .address-footer-info:hover .icon,
  .address-footer-info:focus .icon {
    fill: var(--color-footer-accent);
  } */

  /* .footer-address-list-socials .icon:hover,
  .footer-address-list-socials .icon:focus {
    fill: var(--color-footer-accent);
  } */

  /* MODAL */

  
  /* .address-modal-info:hover,
  .address-modal-info:focus {
    color: var(--color-footer-accent);
  } */

  /* .address-modal-info:hover svg,
  .address-modal-info:focus svg {
    fill: var(--color-footer-accent);
  } */

  /* .backdrop-item-link:hover,
  .backdrop-item-link:focus {
    text-transform: uppercase;
  } */

  /* .btn-header-menu:hover,
  .btn-header-menu:focus {
    transform: scale(0.95);
  } */

  /* .btn-header-menu:hover .icon,
  .btn-header-menu:focus .icon {
    fill: var(--color-footer-accent);
  } */

  /* .btn-modal-close:hover,
  .btn-modal-close:focus {
    fill: var(--color-footer-accent);
    transform: scale(0.95);
  } */
/* 
  .modal-address-list-socials .icon:hover,
  .modal-address-list-socials .icon:focus {
    fill: var(--color-footer-accent);
  } */

  /* SCROLL TO TOP BTN */

  /* .btn-scroll-to-top:hover,
  .btn-scroll-to-top:focus {
    transform: scale(0.95);
  } */

  /* .btn-scroll-to-top:hover .icon,
  .btn-scroll-to-top:focus .icon {
    fill: var(--color-accent);
  } */

  /* .btn-scroll-to-top:hover {
  transform: scale(0.95);
} */

/* .btn-scroll-to-top:hover .icon {
  fill: var(--color-accent);
} */
}


@media (hover: hover) {
  .header a:hover {
    color: var(--color-accent);
  }

  /* FOOTER */
  .footer-address-list-socials:hover {
    fill: var(--color-footer-accent);
  }

  .address-footer-info:hover {
    color: var(--color-footer-accent);
  }

  .address-footer-info:hover .icon{
    fill: var(--color-footer-accent);
  }

  .footer-address-list-socials .icon:hover {
    fill: var(--color-footer-accent);
  }

  /* MODAL */
  
  .address-modal-info:hover {
    color: var(--color-footer-accent);
  }

  .address-modal-info:hover svg {
    fill: var(--color-footer-accent);
  }

  .backdrop-item-link:hover {
    text-transform: uppercase;
  }

  .btn-header-menu:hover{
    transform: scale(0.95);
  }

  .btn-header-menu:hover .icon {
    fill: var(--color-footer-accent);
  }

  .btn-modal-close:hover {
    fill: var(--color-footer-accent);
    transform: scale(0.95);
  }

  .modal-address-list-socials .icon:hover {
    fill: var(--color-footer-accent);
  }

  /* SCROLL TO TOP BTN */

  .btn-scroll-to-top:hover {
    transform: scale(0.95);
  }

  .btn-scroll-to-top:hover .icon {
    fill: var(--color-accent);
  }

  .btn-scroll-to-top:hover {
  transform: scale(0.95);
}

.btn-scroll-to-top:hover .icon {
  fill: var(--color-accent);
}

}


@media (hover: none) and (pointer: coarse) {
  .header a:active {
    color: var(--color-accent);
    -webkit-tap-highlight-color: transparent;
  }

  /* FOOTER */
  .footer-address-list-socials:active {
    fill: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  .address-footer-info:active {
    color: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  .address-footer-info:active .icon{
    fill: var(--color-footer-accent);
  
  }

  .footer-address-list-socials .icon:active {
    fill: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  /* MODAL */

  
  .address-modal-info:active {
    color: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  .address-modal-info:active svg {
    fill: var(--color-footer-accent);
 
  }

  .backdrop-item-link:active {
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
  }

  .btn-header-menu:active {
    transform: scale(0.95);
    -webkit-tap-highlight-color: transparent;
  }

  .btn-header-menu:active .icon {
    fill: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  .btn-modal-close:active {
    fill: var(--color-footer-accent);
    transform: scale(0.95);
    -webkit-tap-highlight-color: transparent;
  }

  .modal-address-list-socials .icon:active {
    fill: var(--color-footer-accent);
    -webkit-tap-highlight-color: transparent;
  }

  /* SCROLL TO TOP BTN */

  .btn-scroll-to-top:active {
    transform: scale(0.95);
    -webkit-tap-highlight-color: transparent;
  }

  .btn-scroll-to-top:active .icon {
    fill: var(--color-accent);
    -webkit-tap-highlight-color: transparent;
  }

  .btn-scroll-to-top:active {
  transform: scale(0.95);
  -webkit-tap-highlight-color: transparent;
}

.btn-scroll-to-top:active .icon {
  fill: var(--color-accent);

}
}