/* HindMadurai- Light*/
@font-face {
  font-family: 'Hind Madurai', serif;
  font-weight: 300;
  font-style: normal;
  src: url('css/fonts/HindMadurai-Light.ttf') format('truetype');
  font-display: swap;
}

/*  HindMadurai-Medium*/
@font-face {
  font-family: 'Hind Madurai', serif;
  font-weight: 500;
  font-style: normal;
  src: url('css/fonts/HindMadurai-Medium.ttf') format('truetype');
  font-display: swap;
}

/*  HindMadurai-Regular*/

@font-face {
  font-family: 'Hind Madurai', serif;
  font-weight: 400;
  font-style: normal;
  src: url('css/fonts/HindMadurai-Regular.ttf') format('truetype');
  font-display: swap;
}

/* RussoOne-Regular */

@font-face {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('css/fonts/RussoOne-Regular.ttf') format('truetype');
  font-display: swap;
}

/* RussoOne-Regular */

@font-face {
  font-family: 'Varela', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('css/fonts/Varela-Regular.ttf') format('truetype');
  font-display: swap;
}

/* RhodiumLibre-Regular */
@font-face {
  font-family: 'Rhodium Libre', serif;
  font-weight: 400;
  font-style: normal;
  src: url('css/fonts/RhodiumLibre-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Roboto-MediumItalic */
@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: italic;
  src: url('css/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-display: swap;
}
